html,
body {
    height: 100%;
    font-family: "微软雅黑";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #428bca;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #2a6496;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.padd_40 {
    padding-top: 80px;
    background: #F5F5F5;
    overflow-x: hidden;
}

.a {
    text-align: center;
    line-height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    border-bottom: 1px #ccc solid;
    background: #f50;
    color: #fff;
}

.tab {
    display: flex;
    line-height: 40px;
    position: fixed;
    top: 40px;
    width: 100%;
    z-index: 10;
    border-bottom: 1px #ccc solid;
}

.tab a {
    width: 33.333333%;
    background: #fff;
    text-align: center;
}

.tab .active {
    border-bottom: 1px #f50 solid;
    color: #f50;
}

.panel {
    margin: 0;
}

.refreshtip {
    position: absolute;
    left: 0;
    width: 100%;
    margin: 10px 0;
    text-align: center;
    color: #999;
}

.swiper-container {
    overflow: visible;
}

.loadtip {
    display: block;
    width: 100%;
    line-height: 40px;
    height: 40px;
    text-align: center;
    color: #999;
    border-top: 1px solid #ddd;
}

.swiper-container,
.w {
    height: calc(100vh - 120px);
}

.swiper-slide {
    height: auto;
}

.text-center {
    text-align: center;
}

.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}