@import "//at.alicdn.com/t/font_1811699_2hvkwp7upcz.css";

a {
  color: #409eff;
  text-decoration: none;
}
a:hover{
  color: #66b1ff;
}
* {
  box-sizing: border-box;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

input {
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 15px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
input:focus {
  outline: none;
  border-color: #409eff;
}

body {
  min-width: 1100px;
  line-height: 1.5;
  color: #333;
}

button {
  outline: none;
  border: none;
  width: 170px;
  font-size: inherit;
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.1s;
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
  padding: 12px;
}
button:hover {
  background: #66b1ff;
  border-color: #66b1ff;
}
