body{
	font-size: 12px;
	background: #f5f5f5;
}
ul,p,ol{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	display: inline-block;
}
input,button{
	border: none;
	outline: none;
}
.border_b{
	border-bottom: .01rem solid #e4e4e4;
}